@model CarManagement.Models.Maintenance

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Maintenance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaintenanceId" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfMaintenance" class="control-label"></label>
                <input asp-for="DateOfMaintenance" class="form-control"
                       type="datetime-local"
                       max="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")"
                       min="1945-01-01T00:00" />

                <span asp-validation-for="DateOfMaintenance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleId" class="control-label">Vehicle Plate number</label>
                <select asp-for="VehicleId" class="form-control" asp-items="ViewBag.VehicleId"></select>
                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-controller="Maintenances" asp-action="MaintenancebyVehicle" class="btn btn-primary" asp-route-id="@Model.Vehicle.VehicleId">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
